<% include ../includes/header.ejs %>
<article class="container">
    <div class="col-12">
        <h1 class="alert alert-danger">
            <%= error %>
        </h1>
    </div>
</article>
<% include ../includes/footer.ejs %>